<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2><%= @room.name %>詳細</h2>
    </div>
  </div>
  <%= render "admin/messages/messages", messeages: @messeages %>
</div>
