<div class='row mt-3'>
    <div class='col-md-8 mx-auto'>
      <div class='message'>
        
        <table class='table table-hover table-borderless'>
          <thead>
          <tr>
            <th>コメント主</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each do |message| %>
          <tr>
            <td><%= message.user.name %> </td>
            <td><%= message.message %></td>
            <td><%= link_to "削除", admin_message_path(message.id), method: :delete, class: "btn btn-danger pull-right" %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
        
      <diV>
        <%= link_to "戻る",admin_rooms_path %>
      </div>
    </div>
  </div>