<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9 mx-sm-auto text-center shadow-lg">
        <h2>本当に退会しますか？</h2>
        <p>
            退会すると、</br>
            チャットの投稿・閲覧を行うことが出来ません。</br>
            退会する場合は、「退会する」をクリックしてください。
        </p>
        
        <%= link_to "退会しない", :back %>
        <%= link_to "退会する", withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>
    </div>
  </div>
</div>